.button {
    background: -webkit-linear-gradient(top, #4b4b4b, #454545);
    box-shadow: 0 1px 0 hsla(0,0%,0%,.1);
    border: 1px solid #303030;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    color: #fff;
    margin: 6px 8px 6px 0;
    text-align: center;
}
.button:hover {
    background: -webkit-linear-gradient(top, #38434b, #353c44);
    cursor: pointer;
    cursor: hand;
}
.button:disabled {
    color: rgb(84, 84, 84);
}
