.container.newPostForm
    form(action="/activity/post", method="post")
        div Make a text post 
        input(type="text", name="text", id="text")
        input(type="submit", value=__('Post!')).button
