extends ./layouts/main

block content
    .activityFeed
        for activity in activityFeed
            if(activity.type === 'post')
                - content = activity.content
            if(activity.type === 'reblog')
                - content = activity.content.post.content
            .post
                .body #{content.body}
