extends ./layouts/main

block content
    .container.authForm
        include ./partials/flash
        form(action="/signin", method="post")
            div
                label Email:
                input(type="text", name="email")
            div
                label Password:
                input(type="password", name="password")
            div
                input(type="submit", value="Signin").button
