extends ./layouts/main

block content
    .container.authForm
        form(action="/signup", method="post")
            div
                label Email: 
                input(type="text", name="email")
            div
                label Password: 
                input(type="password", name="password")
            div
                label URL: 
                input(type="text", name="url")
            div
                label accessToken: 
                input(type="text", name="accessToken")
            div
                input(type="submit", value="Signup").button
