doctype html
html
    head
        title= title ? title : 'Gauntlet'
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet", type="text/css")
        link(href="/css/font-mfizz.css", rel="stylesheet", type="text/css")
        link(href="/css/vender.min.css", rel="stylesheet", type="text/css")
        link(href="/css/core.css", rel="stylesheet", type="text/css")
        block styles
    body
        block content
