doctype html
html.no-js
    head
        title= title ? title : 'Alete'
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(href="/css/vender.min.css", rel="stylesheet", type="text/css")
        link(href="/css/core.min.css", rel="stylesheet", type="text/css")
        script.
            document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');
        block styles
    body
        .header
            .title
                a(href="/") Alete
            if(user)
                .search
                    input(type="text", name="query", placeholder="Search...")
                .account
                    ul.dropdown
                        a
                            i.fa.fa-lg.fa-cog
                        li
                            a(href="/account") Account
                            a(href="/settings") Settings
                            a(href="/signout") Signout
        block content
    script(src="/js/vender.min.js")
    script(src="/js/core.min.js")
